.slider-container {
  margin: 10vh auto;
}

.slider-title {
  width: 85%;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 600;
}

.cards-container {
  width: 85%;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
