.filter-section {
  margin-top: 200px;
  max-width: 700px;
  height: 400px;
  border: 1px solid #ddd;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  padding: 20px;

  width: 30%; /* Half of the container's width */

  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}

.filter-row {
  display: flex;
  max-width: 500px;
  /* min-height:300px; */
  flex-direction: column;
  gap: 40px;
}

.filter-row input {
  padding: 5px;
  /* max-width:max-content; */

  min-height: 60px;
  border: 1px solid #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter-row button {
  align-self: center;
  min-height: 50px;
  max-width: 100px;
  background-color: #36a73a;
}

.apply-button {
  align-self: center;
  align-self: center;
  text-align: center;
  min-height: 50px;
  width: 100px;
  appearance: auto;
  background-color: #36a73a;
}

.apply-button :hover {
  scale: calc(0.9);
}
.product-list {
  justify-content: space-between;
  margin-top: 200px;
  margin: 20px;
  /* margin-right:20px; */
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  padding: 20px;

  width: 70%; /* Half of the container's width */
  padding: 20px;
  background-color: #fff;
  box-sizing: border-box;
}

.product-card {
  width: 300px;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  margin-bottom: 10px;
}

.product-card button {
  align-self: center;
  align-items: center;
}

.card-image {
  width: 100%;
  object-fit: cover;
  max-height: 190px;
  object-fit: cover;
}

.fruits-container {
  margin-top: 100px;

  margin-left: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.filterheading {
  display: flex;
  flex-direction: row;
  align-self: center;
  text-align: center;
  padding: 5px;
}

.addtocart-button {
  align-self: center;
  align-self: center;
  text-align: center;
  min-height: 30px;
  width: 100px;
  appearance: auto;
  background-color: #36a73a;
}

.addtocart-button :hover {
  scale: calc(0.9);
}
